/*GENERAL*/

html, body {
  background: black;
  color: #00b800;
  margin:0;
  padding: 0;
  padding-top: 10px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

body {
  margin: 0 auto;
  max-width: 650px;
  font-weight: 400;
}

h1 {
  font-size: 20px;
  text-align:center;
}

/*TEXTAREA*/

textarea {
  font-family: 'Press Start 2P', cursive;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background: #00b800;
  padding: 10px;
}

textarea:disabled {
  background-color: #a5a2a2;
}

/*BUTTON*/

button {
  font-family: 'Press Start 2P', cursive;
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

@media(min-width: 700px){
  h1{
    font-size: 23px;
  }
  h4{
    font-size: 18px;
  }
  button{
    margin-bottom: 2em;
    font-size: 17px;
  }
}